{% extends 'pages/base.html.twig' %}

{% block head %}
  {{ parent() }}
{% endblock %}


{% block title %} 
  {{ parent() }} 
{% endblock %}

{% block stylesheets %} 
  {{ parent() }} 
{% endblock %}

{% block header %} 
  {{ parent() }} 
{% endblock %}

{% block nav %} 
  {{ parent() }} 
{% endblock %}

{% block main %}
  <p> Contenu de la page </p>
{% endblock %}

{% block footer %} 
  {{ parent() }} 
{% endblock %}


