{% extends 'pages/base.html.twig' %}

{% block head %}
  {{ parent() }}
{% endblock %}


{% block title %} 
  {{ parent() }} 
{% endblock %}

{% block stylesheets %} 
  {{ parent() }} 
{% endblock %}

{% block header %} 
  {{ parent() }} 
{% endblock %}

{% block nav %} 
        <nav>
            <div class="barredenav">
                <ul class="menu">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/Services/">Nos services</a></li>
                    <li><a href="/Formateurs/">Nos formateurs</a></li>
                    <li><a href="/Recrutement/">Recrutement</a></li>
                    <li class="selected"><a href="/Apropos/">Qui sommes-nous?</a></li>
                    <li><a href="/Contact/">Nous contacter</a></li>
                </ul>
            </div>
        </nav> 
    </div> 
{% endblock %}

{% block main %}
  <p> Contenu de la page </p>
{% endblock %}

{% block footer %} 
  {{ parent() }} 
{% endblock %}