<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
        <title>{% block title %}Creativ Conseil{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('/CSS/All.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('/CSS/Normalize.css') }}" />
        {% endblock %}
    </head>
    <body>
        <header>
        {% block header %}
            <div class="header">
                <div class="logo">
                    <div class="logo_text">
                        <div class="logo_img">
                            <img src="../Images/logo-creativ-conseil-ombre.png" alt="Creativ Conseil"/>
                        </div>
                        <button class="connexion">
                            <a class="connexion" href="/Connexion/">Se connecter / S'inscrire</a>
                        </button>
                        <!-- <h2>Des formateurs, pour vous accompagner</h2> -->
                    </div>
                </div>
        {% endblock %}
        {% block nav %}
                <nav>
                    <div class="barredenav">
                        <ul class="menu">
                            <li class="selected"><a href="/">Accueil</a></li>
                            <li><a href="/Services/">Nos services</a></li>
                            <li><a href="/Formateurs/">Nos formateurs</a></li>
                            <li><a href="/Recrutement/">Recrutement</a></li>
                            <li><a href="/Apropos/">Qui sommes-nous?</a></li>
                            <li><a href="/Contact/">Nous contacter</a></li>
                        </ul>
                    </div>
                </nav> 
            </div>
        {% endblock %}
        </header>
        
        <main>
        {% block main %}
        {% endblock %}
        </main>

        <footer>
        {% block footer %}
            <div class="footer">
                <aside>
                    <div class="reseaufooter">
                        <a class="taille" href="https://twitter.com/" target="_blank">
                            <img src="../Images/twitter.png" alt="Twitter"/>
                        </a>
                        <a class="taille" href="https://www.facebook.com/" target="_blank">
                            <img src="../Images/facebook.png" alt="Facebook"/>
                        </a>
                        <a class="taille" href="https://fr.linkedin.com/" target="_blank">
                            <img src="../Images/linkedin.png" alt="Linkedin"/>
                        </a>
                    </div>
                </aside>
                <div class="navfooter">
                    <ul class="menufooter">
                        <li><a href="/">Accueil</a></li>
                            | <li><a href="/Services/">Nos services</a></li>
                                | <li><a href="/Formateurs/">Nos formateurs</a></li>
                                    | <li><a href="/Recrutement/">Recrutement</a></li>
                                        | <li><a href="/Apropos/">Qui sommes-nous?</a></li>
                                            | <li><a href="/Contact/">Nous contacter</a></li>
                    </ul>
                </div>
                <div class="copyright">
                    <p>Copyright &copy; creativ conseil</p>
                </div>
            </div>
        {% endblock %}
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
