<!DOCTYPE HTML>
<html lang="fr">

<head>
    <title>Creativ Conseil</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ asset('/CSS/Connexion.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('/CSS/Normalize.css') }}" />
</head>

<body class="bloc-connect">
    <form class="form-connect" method="POST">

        <h1 class="Titre">Connectez-vous</h1>

        <div class="ecart-input">
            <label for="inputEmail" class="mail">E-mail</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Addresse e-mail" required="" autofocus="">
        </div>

        <div class="ecart-input">
            <label for="inputPassword" class="mdp">Mot de passe</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required="">  
        </div>


        <div class="souvenir">
            <label>
              <input type="checkbox" value="Se souvenir"> Rester connecter 
            </label>
          </div>


          <button class="btn_connect" type="submit">Se connecter</button>

        </form>
        


        <form class="form-inscrire" method="POST">

            <h1 class="Titre">Inscrivez-vous</h1>

            <div class="ecart-input">
                <label for="inputPrenom" class="prenom">Prenom</label>
                <input type="text" id="inputPrenom" placeholder="Prenom" required="">
            </div>

            <div class="ecart-input">
                <label for="inputNom" class="nom">Nom:</label>
                <input type="text" id="inputNom" placeholder="Nom" required="">
            </div>

            <div class="ecart-input">
                <label for="inputSexe" class="sexe">Femme</label>
                <input type="radio" id="inputSexe" name="genre" value="Femme" required="">
                <label for="inputSexe" class="sexe">Homme</label>
                <input type="radio" id="inputSexe" name="genre" value="Homme" required="">
            </div>

            <div class="ecart-input">
                <label for="inputAvatar" class="avatar">Choisissez votre photo de profil:</label>
                <input type="file" id="inputAvatar" name="Photo" accept="image/png, image/jpeg">
            </div>
    
            <div class="ecart-input">
                <label for="inputEmail" class="mail">E-mail:</label>
                <input type="email" id="inputEmail" placeholder="Addresse e-mail" required="">
            </div>
    
            <div class="ecart-input">
                <label for="inputPassword" class="mdp">Mot de passe:</label>
                <input type="password" id="inputPassword" placeholder="Mot de passe" required="">  
            </div>
        
              <button class="btn" type="submit">S'inscrire</button>
    
        </form>
</body>