

body
{ font-family: Arial, 'Cambria', 'Times New Roman', 'Courier New';
  background: #F6F4F0;
  color: #000000;}



/*responsive header*/

.header
{ 
  max-height: 100%;
  background-image: url(../Images/bg_header.jpg) ;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  padding-bottom: 10px;
  
}

.logo 
{
  padding-bottom: 50px;
  padding-top: 50px;
}

.logo_img
{
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 300px;
}

.logo_img img
{
  max-width: 100%;
  max-width: 100%;
}

/*
.logo_text h2
{ font-size: 1.2em;
  padding-left: 10%;
  color: #FFFFFF;
  margin: 0;
  font-family: "century gothic", arial, sans-serif;
  text-shadow: 0.1em 0.1em 0.2em black;}
*/

.connexion
{
  display: flex;
  position: relative;
  float: right;
  margin-right: 2%;
  color: #FFFFFF;
  text-decoration: none;
}

.logo_text button
{
  border-style: inset;
  border-width: 2px;
  background-color: #41474A;
  opacity: 0.65;
}

.logo_text a 
{
  font-family: Arial, 'Cambria', 'Times New Roman', 'Courier New';
}

.logo_text a:hover 
{
 color: #2252f1 ;
}

.logo a
{ border: none;}






/* Barre de navigation*/
nav {
  max-height: 100%;
  background-size: 100%;
  background-position: center;
  background-image: url(../Images/barredenav.png);
}

.barredenav
{
  padding-bottom: 20px;
  padding-top: 20px;
}

.menu
{
  padding: 0;
  margin: 0;
  text-align: center;
}

.menu li
{
  list-style: none;
  display: inline;
}

.menu li a
{ 
  display: inline-block;
  margin: 0 30px;
  letter-spacing: 0.1em;
  font-family: Arial, 'Cambria', 'Times New Roman', 'Courier New'; 
  text-decoration: none; 
  padding: 5px;
  color: #FFF;
  text-transform: uppercase;
  border: none;} 

.menu li.selected
{ 
  background-color: #2252f1 ;
  padding-bottom: 5px;
  padding-top: 5px;
}


.menu li a:hover
{ color: #2252f1;
}

/* Fin du header */


main p
{
  padding: 60px;
}





/* Pied de page */
footer 
{
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position: center;
  background-image: url(../Images/barredenav.png);
}


.footer
{ 
  font-family: Arial, 'Cambria', 'Times New Roman', 'Courier New';
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center; 
  max-height: 100%;
  color: #2d2e2e;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}



.footer a
{ color: #2d2e2e;
  text-decoration: none;}

.footer a:hover
{ color: #FFF;
  text-decoration: none;}

aside
{
  display: block;
  float: right;
  max-width: 30%;
  padding-left: 4%;
  padding-right: 4%;
  margin-left: 5%;
  box-shadow: inset 7px 0 3px -3px black;
}


.taille img
{
  height: 40px;
  width: 40px;
}


.navfooter
{
  display: block;
  max-width: 70%;
  padding-left: 2%;
}

.menufooter
{
  padding: 0;
  margin: 0;
  text-align: center;
}

.menufooter li
{
  list-style: none;
  display: inline;
}

.menufooter li a
{ 
  display: inline-block;
  text-decoration: none; 
  text-transform: uppercase;
  border: none;} 


.copyright p
{
  max-width: 70%;
  padding-left: 2%;
}



