.bloc-connect
{
    font-family: Arial, 'Cambria', 'Times New Roman', 'Courier New';
}

.form-connect
{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-style: double;
    border-color: blue;
    border-width: 5px;
    float: left;
    padding: 10px;
    text-align: center;  
}

.Titre
{
    margin:0;
    margin-bottom: 20px;
}

.ecart-input
{
    margin-bottom: 15px;
}

.souvenir
{
    margin-bottom: 10px;
}


.form-inscrire
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-style: double;
    border-color: blue;
    border-width: 5px;
    float: right;
    padding: 10px;
    text-align: center;
}